.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* This will scale the image to cover the entire container */
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set a fixed width to ensure the image stays the same size */
  height: 100%; /* Set a fixed height to ensure the image stays the same size */
  z-index: -1; /* Move the background behind other elements in the page */
  color: white;
  font-family: 'Baloo 2';
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(162, 93%, 27%);
  color: whitesmoke;
  text-align: center;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  z-index: 1
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover:not(.active) {
  background-color: #dcdcdc;
}

.nav-item.active {
  background-color: #04AA6D;
  color: whitesmoke
}

.logout-button {
  background-color: whitesmoke;
  color: black;
  border: none;
  margin: 0;
  padding: 14px 16px;
  cursor: pointer;
}

.logout-button:hover:not(.active) {
  background-color: #dcdcdc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Additional settings */
  position: absolute;
  top: 50%; /* Move the container down by 50% of the viewport height */
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* Center the container vertically */
}

.formbg-outer {
  width: 100%;
  max-width: 448px;
}

.formbg {
  background: whitesmoke;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.formbg-inner {
  padding: 48px;
} 

.box-root {
  box-sizing: border-box;
}

.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-flex {
  display: flex;
}

.padding-horizontal--48 {
  padding: 48px;
}

.padding-rect--48 {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-bottom--15 {
  padding-bottom: 15px;
}

.padding-bottom--24 {
  padding-bottom: 24px;
}

.padding-top--24 {
  padding-top: 24px;
}

.padding-top--15 {
  padding-top: 15px;
}

.padding-top--10 {
  padding-top: 10px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

label {
  margin-bottom: 10px;
  color: black
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 2px 16px;
  width: 75%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.field textarea {
  font-size: 16px;
  font-family: 'Baloo 2';
  line-height: 28px;
  padding: 2px 16px;
  width: 75%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: #04AA6D;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              #04AA6D 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

input[type="button"] {
  background-color: #f5f5f5;
  color: #888;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              #888 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              #888 (60, 66, 87, 0.08) 0px 2px 5px 0px;
  font-weight: 600;
  cursor: pointer;
}

.grid--25-75 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.grid--25-75 input {
  flex: 1;
  margin: 5px;
  min-width: 0;
}

.grid--25-75 input[name="back"] {
  flex: 0 0 25%;
  background-color: lightgray;
  color: black;
  justify-content: center;
}

p.error {
  color: red;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 5px;
}

#need-auth {
  background-image: linear-gradient(to right,  #04AA6D, hsl(162, 93%, 27%));
  font-size: 36px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 6px 8px hsl(162, 93%, 17%);
}

/* .error {
  color: red;
  padding: none
} */

/* .align-center {
  align-items: center; 
}
.center-center {
  align-items: center;
  justify-content: center;
} */

/* .navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover:not(.active) {
  background-color: #111;
}

.nav-item.active {
  background-color: #04AA6D;
}

.logout-button {
  background-color: #333;
  color: white;
  border: none;
  margin: 0;
  padding: 14px 16px;
  cursor: pointer;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* background-color: rgb(84, 105, 212); */

/* .formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
} */
