.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* This will scale the image to cover the entire container */
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set a fixed width to ensure the image stays the same size */
  height: 100%; /* Set a fixed height to ensure the image stays the same size */
  z-index: -1; /* Move the background behind other elements in the page */
  color: white;
  font-family: 'Baloo 2';
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  z-index: 1
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Additional settings */
  position: absolute;
  top: 50%; /* Move the container down by 50% of the viewport height */
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* Center the container vertically */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover:not(.active) {
  background-color: #dcdcdc;
}

.nav-item.active {
  background-color: #04AA6D;
  color: white
}

.logout-button {
  background-color: whitesmoke;
  color: black;
  border: none;
  margin: 0;
  padding: 14px 16px;
  cursor: pointer;
}

.logout-button:hover:not(.active) {
  background-color: #dcdcdc;
}

/* .navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover:not(.active) {
  background-color: #111;
}

.nav-item.active {
  background-color: #04AA6D;
}

.logout-button {
  background-color: #333;
  color: white;
  border: none;
  margin: 0;
  padding: 14px 16px;
  cursor: pointer;
} */